version: "3.8"
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
  api:
    build: ./backend
    env_file: ./backend/.env.example
    volumes:
      - ./backend:/app
    ports:
      - "4000:4000"
    depends_on:
      - mongo
  frontend:
    build: ./frontend
    env_file:
      - ./backend/.env.example
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    depends_on:
      - api
volumes:
  mongo-data:
